
<div  class="login d-flex justify-content-center align-items-center m-auto">
  <!-- <div class="row"> -->
      <!-- <div class="col-md-6 p-0">
         <div class="overlay"></div>
          <img src="../../../../assets/desola-lanre-ologun-zYgV-NGZtlA-unsplash.jpg" alt="">
      </div> -->


      <div class="col-md-6" >
       <div  class="h-100 d-flex align-items-center justify-content-center w-100">
          <div class="box w-75">
              <h2>{{'login.login'|translate}}</h2>


              <form [formGroup]="loginForm">
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{'login.email'|translate}}</mat-label>
                      <input matInput formControlName="email"  placeholder="email">
                      <mat-error>{{'login.req'|translate}}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{'login.password'|translate}}</mat-label>
                      <input matInput formControlName="password" type="password" placeholder="password">
                      <mat-error>{{'login.req'|translate}}</mat-error>

                  </mat-form-field>
              </form>
              <div class="d-flex justify-content-center">
                  <button   mat-raised-button [disabled]="loginForm.invalid" (click)="login()" color="warn">{{'login.login'|translate}}</button>
              </div>
          </div>
       </div>
      </div>
  <!-- </div> -->

</div>
